<div class="col-sm-2">
    <a href="#" class="list-group-item active">商品管理</a>

    <a href="/admin/index?a=1" class="list-group-item"> 商品列表</a>
    <a href="/admin/add?a=2" class="list-group-item"> 增加商品</a>

    <a href="#" class="list-group-item">分类管理</a>

    <a href="#" class="list-group-item"> 商品分类列表</a>
    <a href="#" class="list-group-item"> 增加商品分类</a>
    <!-- <input type="text" value="<%=a%>" /> -->
</div>
<script>
    // var ofn = (function(a) {
    //     $("a").removeClass("active");
    //     $("a:eq(1)").addClass("active");
    //     console.log(111);
    // })(); //创建一个自执行函数
    // console.log($("input").val);
</script>